@import url("https://api.fontshare.com/v2/css?f[]=supreme@400&f[]=chubbo@700&display=swap");

:root {
    --accent-1: #f1f1ff;
    --accent-2: #eee;
    --accent-3: #e3e3ff;
    --accent-4: #d4d4ff;
    --accent-5: #acacff;
    --accent-6: #8484ff;
    --accent-7: #5c5cb2;

    --box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
    --button-shadow: 0 0 10px rgba(132, 132, 255, 0.75);
    --highlight-color: #fff0e7;
    --text-color: #111;
}

body * {
    font-family: "Supreme", sans-serif;
}

h1,
.card-number,
.card-name,
.compare table td:first-child:not(.unlike),
#radio-inputs input:before,
.slide-title,
.word-buttons button {
    font-family: "Chubbo", sans-serif;
}
