@import "/app/css/colors-and-fonts.css";
@import "/app/css/index.css";
@import "/app/css/header.css";
@import "/app/css/footer.css";
@import "/app/css/verify.css";

main {
    max-width: 700px;
    margin: auto;
    padding: 40px 15px 60px;

    & > div {
        padding: auto;
    }

    a {
        font-weight: 700;
    }

    h2 {
        color: var(--accent-6);
        font-family: "Chubbo", sans-serif;
    }

    hr {
        height: 1.8px;
        max-width: 400px;
        background-color: var(--accent-5);
        border: 0;
        margin: 35px auto;
    }

    img {
        max-width: 300px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        margin: 50px auto;

        &#screenshot-1 {
            margin: 35px auto;
        }
    }

    ul {
        max-width: 475px;
        background-color: var(--accent-3);
        border-radius: 10px;
        box-sizing: border-box;
        color: var(--accent-7);
        font-style: italic;
        margin: 25px auto;
        padding: 20px 20px 20px 35px;
        text-align: left;
    }
}
