@import "./colors-and-fonts.css";

#vibe-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button[type="submit"] {
        max-width: 150px;
        width: 100%;
        margin: auto;
    }

    p {
        margin: 0;
    }

    #question {
        height: 100px;
        max-width: 300px;
        width: 100%;
        appearance: none;
        background-color: #fff;
        border: 1px solid var(--text-pop);
        border-radius: 3px;
        box-sizing: border-box;
        color: var(--text-pop);
        margin: auto;
        font-size: 1.2em;
        font-weight: 400;
        padding: 5px 7px;

        &::placeholder {
            color: #999;
        }
    }

    #radio-inputs {
        --gap: 20px;

        max-width: calc(400px + var(--gap));
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        margin: auto;

        input[type="radio"] {
            height: 200px;
            width: calc(50% - (var(--gap) / 2));
            appearance: none;
            background-color: var(--section-bg);
            border-radius: 20px;
            box-shadow: var(--button-shadow);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            &:checked {
                background-color: var(--highlight-color);
                color: var(--text-pop);
            }

            &::before {
                color: var(--text-pop);
                font-size: 1.5rem;
            }

            &#advice::before {
                content: "advice";
            }

            &#inspiration::before {
                content: "inspiration";
            }

            &#self-discovery::before {
                content: "self discovery";
            }

            &#support::before {
                content: "support";
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    #radio-inputs input::before {
        font-size: 1.1rem !important;
    }
}
